body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.indiaAttr { 
  background-color: aquamarine; 
  width: 120px;
  margin-top: 15px; 
} 

#IndiaForm{
  background-color: burlywood;
  width: 325px;
}

h1 {
  color: greenyellow ;
  font-family: 'Times New Roman', Times, serif;
}
